<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="logo">
        <a href="#">
            <img src="images/collabb (1).png" alt="Logo">
        </a>
    </div>
    <ul class="nav">
        <li class="nav-item active">
            <a href="#" class="nav-link">Mon spanrofil</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Mes comspanétences</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Mes missions</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Mes formations</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Déconnexion</a>
        </li>
    </ul>
</nav>
