/* Utilities */

.grid-distance {
  padding-left: 2rem;
  padding-right: 2rem;
}
.grid-margin {
  margin-bottom: $card-spacing-y;
}
.grid-margin-sm-0 {
  @media (min-width: 576px) {
    margin-bottom: 0;
  }
}
.grid-margin-md-0 {
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}
.grid-margin-lg-0 {
  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}
.grid-margin-xl-0 {
  @media (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.img-lg {
  width: 92px;
  height: 92px;
}
.img-sm {
  width: 43px;
  height: 43px;
}
.img-xs {
  width: 37px;
  height: 37px;
}
.img-ss {
  width: 26px;
  height: 26px;
}
.stretch-card {
  @include display-flex;
  @include align-items(stretch);
  @include justify-content(stretch);
  >.card{
    width: 100%;
    min-width: 100%;
  }
}

.border-right-sm {
  @media (min-width: 576px) {
    border-right: $border-width solid $border-color;
  }
}
.border-right-md {
  @media (min-width: 768px) {
    border-right: $border-width solid $border-color;
  }
}
.border-right-lg {
  @media (min-width: 992px) {
    border-right: $border-width solid $border-color;
  }
}

.border-left-sm {
  @media (min-width: 576px) {
    border-left: $border-width solid $border-color;
  }
}
.border-left-md {
  @media (min-width: 768px) {
    border-left: $border-width solid $border-color;
  }
}
.border-left-lg {
  @media (min-width: 992px) {
    border-left: $border-width solid $border-color;
  }
}

.text-gray {
  color: #8c8c8c;
}

.text-black {
  color: $black;
}

.text-small {
  font-size: 12px;
}

.flex-grow {
  flex-grow: 1;
}

.text-headline {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.text-subtitle {
  opacity: 0.8;
  color: #707070;
  font-size: 11px;
  font-weight: 400;
}

.text-13 {
  font-size: 13px;
}

.text-16 {
  font-size: 16px;
}

.hide-on-lg {
  @media(max-width: 1200px) {
    display: none;
  }
}

.hide-on-md {
  @media(max-width: 992px) {
    display: none;
  }
}

.hide-on-sm {
  @media(max-width: 768px) {
    display: none;
  }
}

/* MODALS */
.text-decor {
  font-size: 11px;
}

.container-modal {
  padding: 40px 20px;
}

.close-modal {
  border-bottom: 1px solid #707070;
  &:hover {
    color: #707070;
  }
}

.profile-sec {
  text-align: center;
  padding-top: 46px;
  .profile-change {
    &:hover {
      color: #707070;
      text-decoration: none;
    }
  }
}
.profile-title {
  font-size: 16px;
  text-align: center;
}
p {
  font-size: 11px;
}
.profile-description {
  font-size: 27px;
  margin-left: 35px;
}
.modal-info {
  margin: 35px 84px 28px -44px;
  text-align: center;
}
.info-sec {
  margin: 29px 0 0 55px;
}

.mr-lf-60 {
  margin-left: 60px;;
}

.mr-lf-120 {
  margin-left: 120px;
}
