/* Buttons */

.btn {
  &.btn-rounded {
    @include border-radius(18px);
  }
  &.btn-rounded-2x {
    @include border-radius(25px);
  }
  &.btn-violet {
    background-color: $magenta;
    color: $white;
  }
  &.btn-grey {
    background-color: $grey;
    color: $white;
  }
}
