.main-panel {
  width: calc(100% - #{$sidebar-width});
  min-height: calc(100vh - #{$navbar-height});
  @media (max-width: 991px) {
    margin-left: 0;
    width: 100%;
  }
}

.content-wrapper {
  width: 100%;
  @media(max-width: 991px) {
    padding: 0 0.75rem;
  }

  @media(min-width: 992px) {
    padding: 0 2.75rem;
  }
}

.container-search {
  @media(max-width: 991px) {
    padding: 0 0.75rem;
  }

  @media(min-width: 992px) {
    padding: 0 6.75rem;
  }
}
