/* Sidebar */

.sidebar {
  min-height: calc(100vh - #{$navbar-height});
  padding: 0;
  width: $sidebar-width;
  z-index: 11;
  text-align: center;

  .logo {
    margin-bottom: 58px;
  }

  .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;

    .nav-item {
      margin-bottom: 58px;

      .nav-link {
        color: #707070;
        font-size: 16px;
        font-weight: 400;
        display: inline;

        span {
          &:hover {
            border-bottom: 3px solid #E74178;
            color: #E74178;
          }
        }
      }

      &.active {
        > .nav-link span {
          border-bottom: 3px solid #E74178;
          color: #E74178;
        }
      }
    }
  }
}

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - #{$navbar-height});
    top: $navbar-height;
    bottom: 0;
    overflow: auto;
    right: -$sidebar-width;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    &.active {
      right: 0;
    }
  }
}
